<p><%= link_to "グループ作成画面", new_group_path, class:"btn btn-success" %></p>

<h1>Family Index</h1>

<table class="table">
  <thead>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>email</th>
      <th>Family Code</th>
      <th>created_at</th>
      <th>退会ボタン</th>
    </tr>
  </thead>
  <tbody>
    
    <% @users.each do |user| %>
      <% if user.family_code == current_user.family_code %>
        <tr>
          <td><%= link_to user.id, user_path(user) %></td>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.family_code %></td>
          <td><%= user.created_at %></td>
          <td>
          <%= link_to "ユーザー削除", user_path(user), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

