<h1>Users#edit</h1>
<p>Find me in app/views/users/edit.html.erb</p>


<main>
  <p id="notice"></p>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
        <h2>User info</h2>

        <% if @user.errors.any? %>
          <h3><%= @user.errors.count %>errors prohibited this obj from being saved:</h3>
          <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>

        <%= form_with model: @user do |f| %>

          <label>Name</label><br>
          <%= f.text_field :name, class: "form-control user_name", id: "user_name" %>
          <br>
          <label>Email</label><br>
          <%= f.text_field :email, class: "form-control email", id: "email" %>
          <br>
          <label>Family_code</label><br>
          <%= f.text_field :family_code, class: "form-control family_code", id: "family_code" %>
          <br>
          <label for="inputImage">Image</label><br>
          <%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %> <br> 
          <br>
          <%= f.submit 'Update User' , class:"btn btn-secondary" %>
          <% if @user == current_user %>
            <span> ｜ </span><%= link_to "退会", user_path(@user), class:"text-dark", class:"btn btn-secondary", method: :delete, "data-confirm" => "本当に退会しますか？" %>
          <% end %>

        <% end %>

          
      </div>
    </div>
  </div>
</main>