<main>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Editing Genre</h1>
        <% if @genre.errors.any? %>
          <h3><%= @genre.errors.count %>errors prohibited this post from being saved:</h3>
          <ul>
            <% @genre.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
        <%= form_with model: @genre do |f| %>
          <label>Genre name</label><br>
          <%= f.text_field :genre_name, class: "form-control genre_name", id: "genre_name" %>
          <br>
          <%= f.submit 'Update Genre' , class:"btn btn-success" %>
          <span> | </span><%= link_to "Delete Genre", admin_genre_path(@genre), class:"text-dark", method: :delete, "data-conform" => "本当に消しますか？", class: "btn btn-danger" %>
        <% end %>
      </div>
    </div>
  </div>
</main>