<h2>User info</h2>

  <%= link_to user_path(current_user.id) do %>
    <%= image_tag current_user.get_profile_image(100,100) %>
  <% end %>

  <table class="table">
    <tbody>
      <tr></tr>
      <% if user_signed_in? %>
      <tr>
        <th width="20%">name</th>
        <th><%= current_user.name %></th>
      </tr>
      <tr>
        <th>email</th>
        <th><%= current_user.email %></th>
      </tr>
      <tr>
        <th>family_code</th>
        <th><%= current_user.family_code %></th>
      </tr>
      <% end %>
    </tbody>
  </table>

  <div>
    <%= link_to edit_user_path(current_user), class:"btn btn-outline-secondary btn-block" do %>
    <i class="fas fa-user-cog"></i>
    <% end %>
  </div>
  <h2 class="mt-3">New post</h2>

  <%= render 'posts/form' , post: post %>
