<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>

<% if user_signed_in? %>
  <p>email : <%= current_user.email %></p>
  <p>family_code : <%= current_user.family_code %></p>
<% end %>

<%= render 'list', posts: @posts %>

<tbody>
<% @posts.each do |post| %>
  <tr>
    <td>
      <%= link_to user_session_path(post.user.id) do %>
        <%= image_tag post.user.get_profile_image(100,100) %>
      <% end %>
    </td>
    <td>
      <%= link_to post_path(post.id) do %>
        <%= book.title %>
      <% end %>
    </td>
    <td>
      <%= book.body %>
    </td>
  </tr>
<% end %>
</tbody>