<!DOCTYPE html>
<html>
  <head>
    <title>AlbumSummarizeSite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/c758cba9a2.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p>lorem ipsum</p>  <!-- この行を追加 -->
    <header>
      <% if user_signed_in? %>
        <li>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </li>
        <li>
          <%= link_to "投稿一覧", posts_path %>
        </li>
        <li>
          <%= link_to "マイページ", posts_path %>
        </li>
        <li>
          <%= link_to "新規投稿", new_post_path %>
        </li>
        <li>
          <%= link_to "アバウトページ", about_path %>
        </li>
      <% else %>
        <li>
          <%= link_to "新規登録", new_user_registration_path %>
        </li>
        <li>
          <%= link_to "ログイン", new_user_session_path %>
        </li>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
